---
import Layout from '../layouts/Layout.astro';
import Presentation from './Presentation.astro';
import Intro from './Intro.astro';
import OurStory from './OurStory.astro';
import Info from './Info.astro';
import LluviaSobres from './LluviaSobres.astro';
import DressCode from './DressCode.astro';
import MusicaMensaje from './MusicaMensaje.astro'
import Rsvp from './Rsvp.astro'
import '@fontsource/great-vibes';
import '@fontsource-variable/montserrat';


const { tipo = "", id = "" } = Astro.props;
---
<script src="/src/htmx.min.js"></script>
<script src="/src/htmx-json-enc.js"></script>

<Layout>
	<section class="seccion seccion-presentation" id="presentation" data-index="0" data-status="active">
		<Presentation tipo={tipo} id={id}></Presentation>
	</section>
	<section class="seccion seccion-intro" id="intro" data-index="1" data-status="unknown">
		<Intro></Intro>
	</section>
	<section class="seccion seccion-our-story" id="our-story" data-index="2" data-status="unknown">
		<OurStory></OurStory>
	</section>
	<section class="seccion seccion-info" id="info" data-index="3" data-status="unknown">
		<Info></Info>
	</section>
	<section class="seccion seccion-dresscode" id="dress-code" data-index="4" data-status="unknown">
		<DressCode></DressCode>
	</section>
	<section class="seccion seccion-lluvia" id="lluvia" data-index="5" data-status="unknown">
		<LluviaSobres></LluviaSobres>
	</section>
	<section class="seccion seccion-musica-mensaje" id="musica-mensaje" data-index="6" data-status="unknown">
		<MusicaMensaje tipo={tipo} id={id}></MusicaMensaje>
	</section>
	<section class="seccion seccion-rsvp" id="rsvp" data-index="7" data-status="unknown">
		<Rsvp tipo={tipo} id={id}></Rsvp>
	</section>
</Layout>

<style>

	/* 1920×1080 (9.94%)
	1536×864 (3.94%)
	1366×768 (6.22%)
	414×896 (4.21%)
	375×667 (3.74%) 
	360×640 (5.88%) */

	.seccion {
		width: 100vw;
		height: calc(var(--vh) * 100);
		position: absolute;
		background-repeat: no-repeat;
		background-position-x: center;
		background-size: cover;
	}
	.seccion-presentation{
		background-color: var(--third);
		top: 0px;
	}
	.seccion-intro {
		background-image: url(/img/BackgroundImage.png);
		top: calc(var(--vh) * 100);
	}
	.seccion-our-story {
		background-image: url(/img/FondoPlaya.png);
		top: calc(var(--vh) * 100);
	}
	.seccion-info {
		background-image: url(/img/BackgroundImage.png);
		top: calc(var(--vh) * 100);
	}
	.seccion-dresscode{
		background-image: url(/img/BackgroundImage.png);
		top: calc(var(--vh) * 100);
	}
	.seccion-lluvia{
		background-image: url(/img/FondoPlayaLluvia.png);
		top: calc(var(--vh) * 100);
	}
	.seccion-musica-mensaje{
		background-image: url(/img/BackgroundImage.png);
		top: calc(var(--vh) * 100);
	}
	.seccion-rsvp{
		background-image: url(/img/BackgroundImage.png);
		top: calc(var(--vh) * 100);
	}

	.move-up{
		top: calc(var(--vh) * -100);
		transition: all 1s;
	}
	.move-down{
		top: calc(var(--vh) * 100);
		transition: all 1s;
	}
	.move-center{
		top: 0px;
		transition: all 1s;
	}

	@media (max-width: 1920px){
	}

	@media (max-width: 1366px){
	}

	@media (max-width: 430px){

		.seccion-intro {
			background-image: url(/img/BackgroundImage_small.png);
		}
		.seccion-our-story {
			background-image: url(/img/FondoPlaya_small.png);
		}
		.seccion-info {
			background-image: url(/img/BackgroundImage_small.png);
		}
		.seccion-dresscode{
			background-image: url(/img/BackgroundImage_small.png);
		}
		.seccion-lluvia{
			background-image: url(/img/FondoPlayaLluvia_small.png);
		}
		.seccion-musica-mensaje{
			background-image: url(/img/BackgroundImage_small.png);
		}
		.seccion-rsvp{
			background-image: url(/img/BackgroundImage_small.png);
		}
	}

</style>
<script>
	let touchPositionY: number|null = null;
	let touchStartY: number|null = null;
	let deltaY: number = 0;

	function setVisualHeight() {
		const vh = window.innerHeight * .01;
		document.documentElement.style.setProperty('--vh', `${vh}px`)
	};

	setVisualHeight();

	window.addEventListener('resize', setVisualHeight);

	const debounce = (callback: Function, waitTime: number) => {
		let timerId: ReturnType<typeof setTimeout>;
		let execute = true;
		return () => {
			if(execute) {

				const executed = callback();
				if(executed) {
					execute = false;
				}
			}
			clearTimeout(timerId);
			timerId = setTimeout(() => {
				execute = true;
			}, waitTime) 
		}
	}

	const upOrDown = () : boolean => {
		const currentSection: HTMLElement|null = document.querySelector(`[data-status="active"]`);

		if(!currentSection || !currentSection.getAttribute('data-index')) return false;
		if(deltaY < -20) {
			const nextIndex = +(currentSection.getAttribute('data-index') ?? 1) - 1;
			const nextSection: HTMLElement|null = document.querySelector(`[data-index="${nextIndex}"]`);
			if(!nextSection) return false;
			currentSection.dataset.status = "unknown";
			currentSection.classList.remove('move-center');
			currentSection.classList.add('move-down');
			nextSection.dataset.status = "active";
			nextSection.classList.remove('move-up');
			nextSection.classList.add('move-center');
			
			touchStartY = null;
			touchPositionY = null;
			return true;
		}
		if(deltaY > 50) {
			const nextIndex = +(currentSection.getAttribute('data-index') ?? -1) + 1;
			const nextSection: HTMLElement|null = document.querySelector(`[data-index="${nextIndex}"]`);
			if(!nextSection) return false;
			currentSection.dataset.status = "unknown";
			currentSection.classList.remove('move-center');
			currentSection.classList.add('move-up');
			nextSection.dataset.status = "active";
			nextSection.classList.remove('move-down');
			nextSection.classList.add('move-center');

			touchStartY = null;
			touchPositionY = null;
			return true;

		}
		touchStartY = null;
		touchPositionY = null;
		return false;
	}

	const debounceUpOrDown = debounce(upOrDown, 500);
	
	const onScroll = (e: WheelEvent) => {
		deltaY = e.deltaY;
		debounceUpOrDown()
	}

	document.addEventListener('wheel', onScroll)

	document.addEventListener('keydown', function(e: KeyboardEvent){
		
		if(e.key === "ArrowDown"){
			deltaY = 100
			debounceUpOrDown();
			return;
		}
		if(e.key === "ArrowUp"){
			deltaY = -100
			debounceUpOrDown();
			return;
		}
	})

	document.addEventListener('touchstart', (e: TouchEvent) => {

		// console.log("🚀 ~ file: index.astro:241 ~ document.addEventListener ~ e.touches.length:", e.touches.length)
		// if(e.touches.length > 1) {
		// 	return;
		// }

		if(e.target?.nodeName === 'INPUT'){
			return;
		}
		if(e.target?.nodeName === 'TEXTAREA'){
			return;
		}
		if(e.target?.nodeName === 'BUTTON'){
			return;
		}
		if(e.target?.nodeName === 'A'){
			return;
		}
		if(e.target?.parentElement?.nodeName === 'BUTTON'){
			return;
		}
		if(e.target?.parentElement?.nodeName === 'A'){
			return;
		}
		if(e.target?.parentElement?.parentElement?.nodeName === 'BUTTON'){
			return;
		}
		if(e.target?.parentElement?.parentElement?.nodeName === 'A'){
			return;
		}
		if(e.target?.parentElement?.parentElement?.parentElement?.nodeName === 'BUTTON'){
			return;
		}
		if(e.target?.parentElement?.parentElement?.parentElement?.parentElement?.nodeName === 'BUTTON'){
			return;
		}

		touchStartY	= e.touches[0].clientY;
	})

	document.addEventListener('touchmove', (e: TouchEvent) => {
		touchPositionY = e.touches[0].clientY;
	})

	document.addEventListener('touchend', () => {
		if(!Number.isInteger(touchStartY)) {
			return;
		}
		if(!Number.isInteger(touchPositionY)) {
			return;
		}
		deltaY = (touchStartY ?? 0) - (touchPositionY ?? 0);
		debounceUpOrDown();
	})

</script>