<div class="mensaje-container">
	<picture class="decoracion-horizontal-superior decoracion-horizontal-size">
		<source srcset="/img/SeparadorHorizontal_1.png">
		<img src="/img/SeparadorHorizontal_1.png" alt="Divisor superior" loading="lazy">
	</picture>

	<span class="mensaje">
		Comenzamos una nueva aventura y no sería posible celebrar esta unión sin la compañía de nuestros familiares y amigos. Por eso, queremos que hagas parte de nuestro gran día.
	</span>

	<picture class="decoracion-horizontal-inferior decoracion-horizontal-size">
		<source srcset="/img/SeparadorHorizontal_1.png">
		<img src="/img/SeparadorHorizontal_1.png" alt="Divisor inferior" loading="lazy">
	</picture>
</div>


<div class="contador">
    <span class="contador-texto">
        CUENTA ATRÁS 
    </span>
    <div class="contador-reloj">
        <div class="digito">
            <p id="mes01">0</p>
        </div>
        <div class="digito">
            <p id="mes02">0</p>
        </div>
        <span class="separacion-digitos">:</span>
        <div class="digito">
            <p id="dia01">0</p>
        </div>
        <div class="digito">
            <p id="dia02">0</p>
        </div>
        <span class="separacion-digitos">:</span>
        <div class="digito">
            <p id="hora01">0</p>
        </div>
        <div class="digito">
            <p id="hora02">0</p>
        </div>
    </div>
    <div class="contador-nombres">
        <span class="contador-nombre">MESES</span>
        <span class="contador-nombre">DÍAS</span>
        <span class="contador-nombre">HORAS</span>
    </div>
</div>
<picture class="decoracion-contador">
    <source srcset="/img/DecoracionTemporizador_1.png">
    <img src="/img/DecoracionTemporizador_1.png" alt="Decoración Contador" loading="lazy">
</picture>

<style>
	.mensaje-container{
		position: absolute;
		top: calc(var(--vh) * 5);
		left: 30vw;
		translate: -50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: .5em;
	}
    .decoracion-horizontal-size img{
		width: 45em;
		scale: 1;
		object-fit: cover;
	}

	.decoracion-horizontal-superior{
	}

	.decoracion-horizontal-superior img{
		rotate: 180deg;
	}
	
	.decoracion-horizontal-inferior{
	}

	.decoracion-horizontal-inferior img{
		rotate: y 180deg;
	}

	.mensaje {
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
		color: var(--accent);
		font-size: 2.0em;
		font-weight: 500;
		text-align: center;
		width: 25em;
	}
    	
	.contador {
		position: absolute;
		bottom: calc(var(--vh) * 7);
		left: 30vw;
		translate: -50%;		
		background-color: var(--basic-light);
		width: 40em;
		height: 15em;
		border-radius: 25px;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
	}

	.contador .contador-texto{
		font-size: 3.5em;
		font-weight: bold;
		color: var(--secondary-light);
		text-align: center;
		position: relative;
		top: .3em;
		width: 100%;
	}

	.contador-reloj {
		position: relative;
		top: .6em;
		color: var(--secondary-light);
		font-size: 3.5em;
		width: 100%;
		display: flex;
		gap: .4em;
		justify-content: center;
	}

	.contador-reloj .digito {
		display: table;
		background-color: var(--secondary-light);
		color: var(--accent);
		opacity: .69;
		width: 1.05em;
		border-radius: 5px;
		text-align: center;
	}

	.digito p {
		display: inline;
		vertical-align: middle;
	}

	.contador-nombres {
		position: relative;
		top: 1.5em;
		display: flex;
		justify-content: center;
		gap: 3.2em;
		width: 100%;
		color: var(--secondary-light);
		font-size: 2em;
		font-weight: bold;
	}

	.decoracion-contador{
		position: absolute;
		bottom: calc(var(--vh) * 8);
		left: 27vw;
		translate: -22em -9em;
	}

	.decoracion-contador img{
		width: 11em;
		scale: 1;
		object-fit: cover;
		rotate: 130deg;
	}

	@media (max-width: 1366px){
		.mensaje-container{
			top: calc(var(--vh) * 7);
			left: 30vw;
			translate: -50%;
			row-gap: .5em;
		}
		.decoracion-horizontal-size img{
			width: 35em;
		}

		.decoracion-horizontal-superior img{
			rotate: 180deg;
		}
		
		.mensaje {
			font-size: 1.5em;
		}
			
		.contador {
			bottom: calc(var(--vh) * 15);
			left: 30vw;
			width: 30em;
			height: 12em;
		}

		.contador .contador-texto{
			font-size: 2.2em;
			top: .3em;
		}

		.contador-reloj {
			top: .6em;
			font-size: 2.7em;
		}

		.contador-nombres {
			font-size: 1.6em;
		}

		.decoracion-contador{
			bottom: calc(var(--vh) * 11);
			left: 32vw;
		}

	}
	@media (max-width: 430px){
		.mensaje-container{
			top: auto;
			bottom: calc(11em + 10vh);
			left: 50vw;
			row-gap: .5em;
		}

		.decoracion-horizontal-size img{
			width: 22em;
		}

		.mensaje {
			font-size: 1.1em;
			font-weight: 500;
			width: 19.5em;
			top: 13em;
		}
			
		.contador {
			bottom: calc(var(--vh) * 5);
			left: 50vw;
			width: 20em;
			height: 11em;
			border-radius: 25px;
		}

		.contador .contador-texto{
			font-size: 2.1em;
			top: .5em;
		}

		.contador-reloj {
			top: .6em;
			font-size: 2.8em;
			gap: .2em;
		}

		.contador-reloj .digito {
			width: .8em;
			border-radius: 5px;
		}

		.contador-nombres {
			top: 1.5em;
			gap: 1.7em;
			font-size: 1.4em;
		}

		.decoracion-contador{
			bottom: calc(var(--vh) * 5);
			left: 50vw;
			translate: -14.5em -7.2em;
		}

		.decoracion-contador img{
			width: 9em;
			rotate: 130deg;
		}


	}
</style> 

<script>
	const ourDate = new Date(2024, 0, 19, 17, 30);
	const mes01Element : HTMLElement = document.getElementById('mes01') ?? new HTMLElement;
	const mes02Element : HTMLElement = document.getElementById('mes02') ?? new HTMLElement;
	const dia01Element : HTMLElement = document.getElementById('dia01') ?? new HTMLElement;
	const dia02Element : HTMLElement = document.getElementById('dia02') ?? new HTMLElement;
	const hora01Element : HTMLElement = document.getElementById('hora01') ?? new HTMLElement;
	const hora02Element : HTMLElement = document.getElementById('hora02') ?? new HTMLElement;

	function updateDate(){
		const timeDif = ourDate.getTime() - new Date().getTime();
		if(timeDif < 0) {
			clearInterval(interval);
			updateVisualTimer(0, 0, 0, 0, 0, 0);
			return;
		}
		const monthsDif = timeDif / 1000 / 60 / 60 / 24 / 30;
		const completeMonts = Math.trunc(monthsDif);
		const remainingMonth = monthsDif % 1;
		const daysDif = remainingMonth * 30;
		const completeDays = Math.trunc(daysDif);
		const remainingDays = daysDif % 1;
		const hoursDif = remainingDays * 24;
		const completeHours = Math.round(hoursDif);
		
		const mes01 = Math.trunc(completeMonts / 10);
		const mes02 = completeMonts % 10;
		const dia01 = Math.trunc(completeDays / 10);
		const dia02 = completeDays % 10;
		const horas01 = Math.trunc(completeHours / 10);
		const horas02 = completeHours % 10;
		
		updateVisualTimer(mes01, mes02, dia01, dia02, horas01, horas02);
	}

	function updateVisualTimer(mes01: number, mes02: number, dia01: number, dia02: number, hora01: number, hora02: number){
		mes01Element.innerHTML = `${mes01}`;
		mes02Element.innerHTML = `${mes02}`;
		dia01Element.innerHTML = `${dia01}`;
		dia02Element.innerHTML = `${dia02}`;
		hora01Element.innerHTML = `${hora01}`;
		hora02Element.innerHTML = `${hora02}`;
	}
	
	updateDate();
	let interval = setInterval(updateDate, 20000);
</script>