---
import AceptarSVG from '../components/Aceptar-SVG.astro';
import RechazarSVG from '../components/Rechazar-SVG.astro';
import LoadingSVG from '../components/Loading-SVG.astro'; 
import type { IInvitados } from '../schemas/Invitados.js';
const base_url = import.meta.env.PUBLIC_URL;

const { tipo, id } = Astro.props;
let tipoInvitacion;
switch(tipo) {
    case 'I':
    case 'i':
        tipoInvitacion = "invitados";
        break;
    case 'F':
    case 'f':
        tipoInvitacion = "invitados/byfamilia";
        break;
    default:
        tipoInvitacion = "invitados";
}

let invitadosInfo: IInvitados[] = [];
let invitados;

if(tipo && id){
    invitados = await fetch(`${base_url}/${tipoInvitacion}/${id}`);
}

const invitadosObj: IInvitados[] = await invitados?.json();

if(invitadosObj?.length != null || !invitadosObj) {
    invitadosInfo = invitadosObj;
}
else{
    invitadosInfo = invitadosInfo.concat(invitadosObj);
}

---
<div class="pareja-container">
    <picture class="pareja-rsvp">
        <source srcset="/img/FotoEsquina.webp">
        <img src="/img/FotoEsquina.webp" alt="Pareja abrazandose">
    </picture>
</div>

<div class="container-deco-grande-izq">
    <picture class="deco-grande deco-grande-izq">
        <source srcset="/img/DecoGrandeRSVP.png">
        <img src="/img/DecoGrandeRSVP.png" alt="Decoración floral">
    </picture>
</div>

<div class="container-deco-grande-der">
    <picture class="deco-grande deco-grande-der">
        <source srcset="/img/DecoGrandeRSVP.png">
        <img src="/img/DecoGrandeRSVP.png" alt="Decoración floral">
    </picture>
</div>

<picture class="deco-peque deco-peque-der">
    <source srcset="/img/DecoPequeRSVP.png">
    <img src="/img/DecoPequeRSVP.png" alt="Decoración floral">
</picture>
<picture class="deco-peque deco-peque-izq">
    <source srcset="/img/DecoPequeRSVP.png">
    <img src="/img/DecoPequeRSVP.png" alt="Decoración floral">
</picture>
<h1>
    RSPV
</h1>

<p>¿Vienes a celebrar con nosotros?</p>

{invitadosInfo &&
    <form class="seccion-invitados" id="enviar-confirmacion-form">
        <picture class="deco-invitados deco-invitados-superior">
            <source srcset="/img/SeparadorHorizontal_1.png">
            <img src="/img/SeparadorHorizontal_1.png" alt="Decoración floral">
        </picture>
        <ul>
            {invitadosInfo.map((invitado) => (
                <li>

                    <span>
                        {invitado?.Nombre}
                    </span>

                    {!invitado.Asiste.Valid &&
                        <button type="button" id={`aceptar${invitado.Id_text}`} name="invitado_id" value={invitado.Id_text} class="aceptar"
                        hx-post={`${base_url}/asistencia/aceptar`}  
                        hx-select={`#aceptar${invitado.Id_text}`} 
                        hx-swap="outerHTML" 
                        hx-select-oob={`#rechazar${invitado.Id_text}`} 
                        hx-indicator={`#svg-load${invitado.Id_text}, #aceptar-svg${invitado.Id_text}`} 
                        hx-ext="json-enc">
                            <AceptarSVG invitado_id={invitado.Id_text}></AceptarSVG>
                            <LoadingSVG invitado_id={invitado.Id_text}></LoadingSVG>
                        </button>

                        <button type="button" id={`rechazar${invitado.Id_text}`} name="invitado_id" value={invitado.Id_text} class="rechazar"
                        hx-post={`${base_url}/asistencia/rechazar`} 
                        hx-select={`#rechazar${invitado.Id_text}`} 
                        hx-swap="outerHTML" 
                        hx-select-oob={`#aceptar${invitado.Id_text}`} 
                        hx-indicator={`#svg-load${invitado.Id_text}, #rechazar-svg${invitado.Id_text}`} 
                        hx-ext="json-enc">
                            <RechazarSVG invitado_id={invitado.Id_text}></RechazarSVG>
                            <LoadingSVG invitado_id={invitado.Id_text}></LoadingSVG>
                        </button>    
                    }

                    {invitado.Asiste.Valid && invitado.Asiste.Bool &&
                        <button type="button" id={`aceptar${invitado.Id_text}`} name="invitado_id" value={invitado.Id_text} class="aceptarSeleccionado">
						    <span>Aceptado</span>
                        </button>

                        <button type="button" id={`rechazar${invitado.Id_text}`} name="invitado_id" value={invitado.Id_text} class="rechazar"
                        hx-post={`${base_url}/asistencia/rechazar`} 
                        hx-select={`#rechazar${invitado.Id_text}`} 
                        hx-swap="outerHTML" 
                        hx-select-oob={`#aceptar${invitado.Id_text}`} 
                        hx-indicator={`#svg-load${invitado.Id_text}, #rechazar-svg${invitado.Id_text}`} 
                        hx-ext="json-enc">
                            <RechazarSVG invitado_id={invitado.Id_text}></RechazarSVG>
                            <LoadingSVG invitado_id={invitado.Id_text}></LoadingSVG>
                        </button>
                    }

                    {invitado.Asiste.Valid && !invitado.Asiste.Bool && 
                        <button type="button" id={`aceptar${invitado.Id_text}`} name="invitado_id" value={invitado.Id_text} class="aceptar"
                        hx-post={`${base_url}/asistencia/aceptar`}  
                        hx-select={`#aceptar${invitado.Id_text}`} 
                        hx-swap="outerHTML" 
                        hx-select-oob={`#rechazar${invitado.Id_text}`} 
                        hx-indicator={`#svg-load${invitado.Id_text}, #aceptar-svg${invitado.Id_text}`} 
                        hx-ext="json-enc">
                            <AceptarSVG invitado_id={invitado.Id_text}></AceptarSVG>
                            <LoadingSVG invitado_id={invitado.Id_text}></LoadingSVG>
                        </button>

                        <button type="button" id={`rechazar${invitado.Id_text}`} name="invitado_id" value={invitado.Id_text} class="rechazarSeleccionado">
                            <span>Rechazado</span>
                        </button>
                    }
                    
                </li>
            ))
            }
        </ul>
        <picture class="deco-invitados deco-invitados-inferior">
            <source srcset="/img/SeparadorHorizontal_1.png">
            <img src="/img/SeparadorHorizontal_1.png" alt="Decoración floral">
        </picture>
    </form>
}


<style>

    :global(.response-svg .htmx-request){
        opacity: 0;
    }
    :global(.response-svg.htmx-request){
        opacity: 0;
    }
    .pareja-container{
        position: relative;
        left: 10%;
        top: 0%;
        width: 40%;
        height: 90%;
        border-bottom-left-radius: 50% 25%;
        border-bottom-right-radius: 50% 20%;
    }
    .pareja-rsvp img{
        position: relative;
        top: -10%;
    }
    .pareja-rsvp img{
		object-fit: cover;	
        width: 100%;
    }

    .deco-grande {
        position: relative;
    }
    .deco-grande img{
		object-fit: cover;	
        width: 15vw
    }

    .container-deco-grande-izq{
        position: absolute;
        top: 58%;
        left: 8%;
        width: 30vw;
    }
    .deco-grande-izq {
        left: 4%;
    }
    .deco-grande-izq img {
        rotate: x 180deg;
        transform: rotate(85deg);
    }

    .container-deco-grande-der{
        position: absolute;
        top: 58%;
        left: 34%;        
        width: 17vw;
    }
    .deco-grande-der {
        left: 6%;
    }
    .deco-grande-der img {
        rotate: -100deg;
    }

    h1{
        position: absolute;
        top: 20%;
        right: 10%;
        color: var(--accent-light);
        font-size: 10vw;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
    }

    .deco-peque {
        position:absolute;
    }
    .deco-peque img {
		object-fit: cover;	
        width: 10vw;
    }
    .deco-peque-der {
        top: 29%;
        right: 34%;
    }
    .deco-peque-der img {
        rotate: -90deg;

    }
    .deco-peque-izq {
        top: 30%;
        right: 4.9%;
    }
    .deco-peque-izq img {
        rotate: 114deg;
    }

    p{
        position: absolute;
        top: 45%;
        right: 12%;
        color: var(--accent);
        font-size: 1.5vw;
        font-weight: 500;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
    }
    
    .seccion-invitados{
        position: absolute;
        top: 55%;
        right: 12%;
        display: flex;
        flex-direction: column;
    }
    
    .deco-invitados {
        align-self: center;
    }
    .deco-invitados img {
        object-fit: cover;
        width: 20vw;
    }
    .deco-invitados-superior{
        margin-bottom: -0.2vw;
    }
    .deco-invitados-superior img{
        rotate: 180deg;
    }

    ul {
        margin: 0;
        padding-left: 0;
        width: 25vw;
    }
    ul li{
        display: flex;
        list-style: none;
        
        font-size: 1.2vw;
        font-weight: 500;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
        color: var(--accent-light);

        margin-bottom: 2vh;

        height: 30px;

    }
    ul li:last-child{
        margin-bottom: 0;
    }
    ul li > span {
        flex-grow: 1;
        padding-top: 4px;
        padding-left: 15px;
        background-color: var(--secondary-light);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    ul li :global(button) {
        border: none;
        width: 50px;
        color: var(--secondary-light) 
    }
    ul li :global(.aceptar){
        background-color: var(--accept); 
    }
    ul li :global(.aceptarSeleccionado) {
        cursor: default;
        width: 7rem;
        background-color: var(--accept-selected); 
        outline: solid 2px rgba(255, 255, 255, 0.5);;
        outline-offset: -3px;
    }    
    ul li :global(.rechazar) {
        background-color: var(--decline);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    ul li :global(.rechazarSeleccionado) {
        cursor: default;
        width: 7rem;
        background-color: var(--decline-selected); 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        outline: solid 2px rgba(255, 255, 255, 0.5);;
        outline-offset: -3px;
    }
    ul li :global(button > span) {
        font-size: 1.2rem;
        opacity: .9;
    }
    .enviar-confirmacion-form{
        align-self: center;
    }
    .enviar-confirmacion{
        align-self: center;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color: var(--third);
        background-color: var(--accent-light);
        border: none;
        width: 6em;
        height: 2em;
        border-radius: 1em;
    }
    
	@media (max-width: 430px){
        .pareja-container{
            left: 0px;
            top: 0px;
            width: 100vw;
            height: 45vh;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .pareja-rsvp img{
            top: -15%;
        }

        .deco-grande img{
            width: auto;
            height: 27vh;
        }

        .container-deco-grande-izq{
            top: 23%;
            left: 0px;
            width: 40vh;
        }
        .deco-grande-izq {
            left: 4%;
        }

        .container-deco-grande-der{
            top: 22%;
            left: auto;
            right: 0px;        
            width: 40vh;
        }
        .deco-grande-der {
            left: 43%;
        }

        h1{
            position: absolute;
            top: 48%;
            right: auto;
            width: 100%;
            text-align: center;
            font-size: 3.5em;
        }

        .deco-peque {
            position:absolute;
        }
        .deco-peque img {
            width: 4em;
        }
        .deco-peque-der {
            top: calc(48% + 1.5em);
            right: calc(50% + 3.28em);
        }
        .deco-peque-izq {
            top: calc(48% + 1.7em);
            right: calc(50% - 7em);
        }

        p{
            top: 57%;
            right: auto;
            width: 100%;
            text-align: center;
            font-size: 1.8vh;
        }
        
        .seccion-invitados{
            position: absolute;
            top: 59.5%;
            right: 10vw;
        }
        
        .deco-invitados img {
            width: 60vw;
        }
        .deco-invitados-superior{
            margin-bottom: -0.5vw;
        }

        ul {
            margin: 0;
            padding-left: 0;
            width: 80vw;
        }
        ul li{
            display: flex;
            list-style: none;
            font-size: .8em;
            margin-bottom: .5em;
            height: 2em;

        }
        ul li:last-child{
            margin-bottom: 0;
        }
        ul li > span {
            flex-grow: 1;
            padding-top: .85vh;
            padding-left: 15px;
        }
        ul li :global(button) {
            border: none;
            width: 50px;
            color: var(--secondary-light) 
        }
    
</style>