---
import AceptarSVG from '../components/Aceptar-SVG.astro';
import RechazarSVG from '../components/Rechazar-SVG.astro';
import type { IInvitados } from '../schemas/Invitados.js';

const { tipo, id } = Astro.props;
let tipoInvitacion;
switch(tipo) {
    case 'I':
    case 'i':
        tipoInvitacion = "invitados";
        break;
    case 'F':
    case 'f':
        tipoInvitacion = "invitados/byfamilia";
        break;
    default:
        tipoInvitacion = "invitados";

}

let invitadosInfo: IInvitados[] = [];
let invitados;

if(tipo && id){
    invitados = await fetch(`https://wedding-back.fly.dev/${tipoInvitacion}/${id}`);
}

const invitadosObj: IInvitados[] = await invitados?.json();

if(invitadosObj?.length != null || !invitadosObj) {
    invitadosInfo = invitadosObj;
}
else{
    invitadosInfo = invitadosInfo.concat(invitadosObj);
}
---
<div class="pareja-container">
    <picture class="pareja-rsvp">
        <source srcset="/img/FotoEsquina.webp">
        <img src="/img/FotoEsquina.webp" alt="Pareja abrazandose">
    </picture>
</div>

<div class="container-deco-grande-izq">
    <picture class="deco-grande deco-grande-izq">
        <source srcset="/img/DecoGrandeRSVP.png">
        <img src="/img/DecoGrandeRSVP.png" alt="Decoraci贸n floral">
    </picture>
</div>

<div class="container-deco-grande-der">
    <picture class="deco-grande deco-grande-der">
        <source srcset="/img/DecoGrandeRSVP.png">
        <img src="/img/DecoGrandeRSVP.png" alt="Decoraci贸n floral">
    </picture>
</div>

<picture class="deco-peque deco-peque-der">
    <source srcset="/img/DecoPequeRSVP.png">
    <img src="/img/DecoPequeRSVP.png" alt="Decoraci贸n floral">
</picture>
<picture class="deco-peque deco-peque-izq">
    <source srcset="/img/DecoPequeRSVP.png">
    <img src="/img/DecoPequeRSVP.png" alt="Decoraci贸n floral">
</picture>
<h1>
    RSPV
</h1>

<p>驴Vienes a celebrar con nosotros?</p>
{invitadosInfo &&
    <form class="seccion-invitados" id="enviar-confirmacion-form">
        <picture class="deco-invitados deco-invitados-superior">
            <source srcset="/img/SeparadorHorizontal_1.png">
            <img src="/img/SeparadorHorizontal_1.png" alt="Decoraci贸n floral">
        </picture>
        <ul>
            {invitadosInfo.map((invitado) => (
                <li>

                    <span>{invitado?.Nombre}</span>

                    {!invitado.Asiste.Valid &&
                        <button type="button" id="aceptar" name="invitado_id" value={invitado.Id_text} class="aceptar"
                        hx-post="http://localhost:8080/asistencia/aceptar" hx-swap="outerHTML" hx-ext="json-enc">
                            <AceptarSVG></AceptarSVG>
                        </button>

                        <button type="button" id="rechazar" name="invitado_id" value={invitado.Id_text} class="rechazar"
                        hx-post="http://localhost:8080/asistencia/rechazar" hx-swap="outerHTML" hx-ext="json-enc">
                            <RechazarSVG></RechazarSVG>
                        </button>    
                    }
                    {invitado.Asiste.Valid && invitado.Asiste.Bool && 
                        <button type="button" id="aceptar" name="invitado_id" value={invitado.Id_text} class="aceptarSeleccionado"
                        hx-get={`/components/aceptar-button-${invitado.Id_text}`} hx-trigger={`click from:button#rechazar[value="${invitado.Id_text}"`} hx-swap="outerHTML">
						    <span>Aceptado</span>
                        </button>

                        <button type="button" id="rechazar" name="invitado_id" value={invitado.Id_text} class="rechazar"
                        hx-post="http://localhost:8080/asistencia/rechazar" hx-swap="outerHTML" hx-ext="json-enc">
                            <RechazarSVG></RechazarSVG>
                        </button>
                    }
                    {invitado.Asiste.Valid && !invitado.Asiste.Bool && 
                        <button type="button" id="aceptar" name="invitado_id" value={invitado.Id_text} class="aceptar"
                        hx-post="http://localhost:8080/asistencia/aceptar" hx-swap="outerHTML" hx-ext="json-enc">
                            <AceptarSVG></AceptarSVG>
                        </button>

                        <button type="button" id="rechazar" name="invitado_id" value={invitado.Id_text} class="rechazarSeleccionado"
                        hx-get={`/components/rechazar-button-${invitado.Id_text}`} hx-trigger={`click from:button#aceptar[value="${invitado.Id_text}"`} hx-swap="outerHTML">
                            <span>Rechazado</span>
                        </button>
                    }
                    
                    <!--<button type="button" id="aceptar" name="invitado_id" value={invitado.Id_text} class:list={[{aceptar: invitado.Asiste.Valid && !invitado.Asiste.Bool}, {aceptarSeleccionado: invitado.Asiste.Valid && invitado.Asiste.Bool}]} 
                    hx-post="http://localhost:8080/asistencia/aceptar" hx-swap="outerHTML" hx-ext="json-enc">
                        <AceptarSVG></AceptarSVG>
                    </button>

                    <button type="button" id="rechazar" name="invitado_id" value={invitado.Id_text} class:list={[{rechazar: invitado.Asiste.Bool}, {rechazarSeleccionado: !invitado.Asiste.Bool}]} 
                    hx-post="http://localhost:8080/asistencia/rechazar" hx-swap="outerHTML" hx-ext="json-enc">
                       <RechazarSVG></RechazarSVG>
                    </button>-->

                </li>
            ))
            }
        </ul>
        <picture class="deco-invitados deco-invitados-inferior">
            <source srcset="/img/SeparadorHorizontal_1.png">
            <img src="/img/SeparadorHorizontal_1.png" alt="Decoraci贸n floral">
        </picture>
    </form>
}


<style>
    .pareja-container{
        position: relative;
        left: 10%;
        top: 0%;
        width: 40%;
        height: 90%;
        border-bottom-left-radius: 50% 25%;
        border-bottom-right-radius: 50% 20%;
    }
    .pareja-rsvp img{
        position: relative;
        top: -10%;
    }
    .pareja-rsvp img{
		object-fit: cover;	
        width: 100%;
    }

    .deco-grande {
        position: relative;
    }
    .deco-grande img{
		object-fit: cover;	
        width: 15vw
    }

    .container-deco-grande-izq{
        position: absolute;
        top: 58%;
        left: 8%;
        width: 30vw;
    }
    .deco-grande-izq {
        left: 4%;
    }
    .deco-grande-izq img {
        rotate: x 180deg;
        transform: rotate(85deg);
    }

    .container-deco-grande-der{
        position: absolute;
        top: 58%;
        left: 34%;        
        width: 17vw;
    }
    .deco-grande-der {
        left: 6%;
    }
    .deco-grande-der img {
        rotate: -100deg;
    }

    h1{
        position: absolute;
        top: 20%;
        right: 10%;
        color: var(--accent-light);
        font-size: 10vw;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
    }

    .deco-peque {
        position:absolute;
    }
    .deco-peque img {
		object-fit: cover;	
        width: 10vw;
    }
    .deco-peque-der {
        top: 29%;
        right: 34%;
    }
    .deco-peque-der img {
        rotate: -90deg;

    }
    .deco-peque-izq {
        top: 30%;
        right: 4.9%;
    }
    .deco-peque-izq img {
        rotate: 114deg;
    }

    p{
        position: absolute;
        top: 45%;
        right: 12%;
        color: var(--accent);
        font-size: 1.5vw;
        font-weight: 500;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
    }
    
    .seccion-invitados{
        position: absolute;
        top: 55%;
        right: 12%;
        display: flex;
        flex-direction: column;
    }
    
    .deco-invitados {
        align-self: center;
    }
    .deco-invitados img {
        object-fit: cover;
        width: 20vw;
    }
    .deco-invitados-superior{
        margin-bottom: -0.2vw;
    }
    .deco-invitados-superior img{
        rotate: 180deg;
    }

    ul {
        margin: 0;
        padding-left: 0;
        width: 25vw;
    }
    ul li{
        display: flex;
        list-style: none;
        
        font-size: 1.2vw;
        font-weight: 500;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
        color: var(--accent-light);

        margin-bottom: 2vh;

        height: 30px;

    }
    ul li:last-child{
        margin-bottom: 0;
    }
    ul li > span {
        flex-grow: 1;
        padding-left: 15px;
        background-color: var(--secondary-light);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    ul li :global(button) {
        border: none;
        width: 50px;
        color: var(--secondary-light) 
    }
    ul li :global(.aceptar){
        background-color: var(--accept); 
    }
    ul li :global(.aceptarSeleccionado) {
        width: 7rem;
        background-color: var(--accept-selected); 
        outline: solid 2px rgba(255, 255, 255, 0.5);;
        outline-offset: -3px;
    }    
    ul li :global(.rechazar) {
        background-color: var(--decline);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    ul li :global(.rechazarSeleccionado) {
        width: 7rem;
        background-color: var(--decline-selected); 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        outline: solid 2px rgba(255, 255, 255, 0.5);;
        outline-offset: -3px;
    }
    ul li :global(button > span) {
        font-size: 1.2rem;
        opacity: .9;
    }
    .enviar-confirmacion-form{
        align-self: center;
    }
    .enviar-confirmacion{
        align-self: center;
		font-family: 'Montserrat Variable', Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color: var(--third);
        background-color: var(--accent-light);
        border: none;
        width: 6em;
        height: 2em;
        border-radius: 1em;
    }

	@media (max-width: 430px){
        .pareja-container{
            left: 0px;
            top: 0px;
            width: 100vw;
            height: 45vh;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .pareja-rsvp img{
            top: -15%;
        }

        .deco-grande img{
            width: auto;
            height: 27vh;
        }

        .container-deco-grande-izq{
            top: 23%;
            left: 0px;
            width: 40vh;
        }
        .deco-grande-izq {
            left: 4%;
        }

        .container-deco-grande-der{
            top: 22%;
            left: auto;
            right: 0px;        
            width: 40vh;
        }
        .deco-grande-der {
            left: 43%;
        }

        h1{
            position: absolute;
            top: 48%;
            right: auto;
            width: 100%;
            text-align: center;
            font-size: 3.5em;
        }

        .deco-peque {
            position:absolute;
        }
        .deco-peque img {
            width: 4em;
        }
        .deco-peque-der {
            top: calc(48% + 1.5em);
            right: calc(50% + 3.28em);
        }
        .deco-peque-izq {
            top: calc(48% + 1.7em);
            right: calc(50% - 7em);
        }

        p{
            top: 57%;
            right: auto;
            width: 100%;
            text-align: center;
            font-size: 1.8vh;
        }
        
        .seccion-invitados{
            position: absolute;
            top: 59.5%;
            right: 10vw;
        }
        
        .deco-invitados img {
            width: 60vw;
        }
        .deco-invitados-superior{
            margin-bottom: -0.5vw;
        }

        ul {
            margin: 0;
            padding-left: 0;
            width: 80vw;
        }
        ul li{
            display: flex;
            list-style: none;
            font-size: .8em;
            margin-bottom: .5em;
            height: 2em;

        }
        ul li:last-child{
            margin-bottom: 0;
        }
        ul li > span {
            flex-grow: 1;
            padding-top: .85vh;
            padding-left: 15px;
        }
        ul li :global(button) {
            border: none;
            width: 50px;
            color: var(--secondary-light) 
        }
    }
</style>

<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
<script>


    // const acceptButtons = document.querySelectorAll("button#aceptar");
    // acceptButtons.forEach(element => {
    //     element.addEventListener('click', aceptarInvitacion);
    // });

    // const rejectButtons = document.querySelectorAll("button#rechazar");
    // rejectButtons.forEach(element => {
    //     element.addEventListener('click', rechazarInvitacion);
    // })

    // function aceptarInvitacion(e: Event){

    //     if(!e || !e.target) return;
    //     const invitadoButtonId = e.target.dataset.invitado;
        
    //     let aceptarButton;
    //     for (const aceptarElement of acceptButtons) {
    //         const checkId = aceptarElement.dataset.invitado;
    //         if(invitadoButtonId === checkId) {
    //             aceptarButton = aceptarElement;
    //             break;
    //         }
    //     }

    //     if(!aceptarButton) return;
    //     aceptarButton.classList.add('aceptarSeleccionado');
    //     aceptarButton.classList.remove('aceptar');
        
    //     let rechazarButton;
    //     for (const rechazarElement of rejectButtons) {
    //         const checkId = rechazarElement.dataset.invitado;
    //         if(invitadoButtonId === checkId) {
    //             rechazarButton = rechazarElement;
    //             break;
    //         }
    //     }

    //     if(!rechazarButton) return;
    //     rechazarButton.classList.add('rechazar');
    //     rechazarButton.classList.remove('rechazarSeleccionado');
    // }

    // function rechazarInvitacion(e: Event){

    //     if(!e || !e.target) return;
    //     const invitadoButtonId = e.target.dataset.invitado;

    //     let rechazarButton;
    //     for (const rechazarElement of rejectButtons) {
    //         const checkId = rechazarElement.dataset.invitado;
    //         if(invitadoButtonId === checkId) {
    //             rechazarButton = rechazarElement;
    //             break;
    //         }
    //     }

    //     if(!rechazarButton) return;
    //     rechazarButton.classList.add('rechazarSeleccionado');
    //     rechazarButton.classList.remove('rechazar');


    //     let aceptarButton;
    //     for (const aceptarElement of acceptButtons) {
    //         const checkId = aceptarElement.dataset.invitado;
    //         if(invitadoButtonId === checkId) {
    //             aceptarButton = aceptarElement;
    //             break;
    //         }
    //     }

    //     if(!aceptarButton) return;
    //     aceptarButton.classList.add('aceptar');
    //     aceptarButton.classList.remove('aceptarSeleccionado');
    // }

    // const botonesFormulario = document.querySelectorAll("#enviar-confirmacion-form button")

    // for(const boton of botonesFormulario) {
    //     boton.addEventListener('htmx:configRequest', (e: Event) => {
    //         // console.log(" ~ file: Rsvp.astro:527 ~ boton.addEventListener ~ e.detail.headers:", e.detail.headers)
    //         // e.detail.headers = {};
    //         e.detail.headers['HX-Trigger'] = "pruebaEvent";
    //         // e.detail.headers['Content-Type'] = "application/x-www-form-urlencoded; charset=UTF-8";
    //         // e.detail.headers['Access-Control-Allow-Origin'] = "*";
    //         // e.detail.headers['Access-Control-Allow-Headers'] = "Access-Control-Allow-Origin, Access-Control-Allow-Headers";
    //         // console.log(" ~ file: Rsvp.astro:527 ~ boton.addEventListener ~ e.detail.headers:", e.detail.headers)
    //     })
    // }
    
    // TODO
    // for(const boton of botonesFormulario) {
    //     boton.addEventListener('htmx:confirm', (e: Event) => {
    //         e.preventDefault();
    //         if(e.detail.elt.classList.contains("aceptarSeleccionado") || e.detail.elt.classList.contains("rechazarSeleccionado")) return;
    //         e.detail.issueRequest();
    //     })
    // }

    // for(const boton of botonesFormulario) {
    //     boton.addEventListener('htmx:afterOnLoad', (e: Event) => {
    //         // console.log("afterOnLoad")
    //         // console.log(e.detail.elt)
    //         // console.log(e.detail.elt.children.item(0))
    //         // console.log(e.detail.target)
    //         // const aceptarSVG = document.querySelector("h1")
    //         // console.log(" ~ file: Rsvp.astro:505 ~ boton.addEventListener ~ aceptarSVG:", aceptarSVG)
    //         // e.detail.target.replaceChild(aceptarSVG, e.detail.target.children.item(0))
    //         // console.log(e.detail.requestConfig)
            
    //     })
    // }

    document.body.addEventListener("pruebaEvent", function(e: Event){
        console.log("se activo el evento por HX-Trigger")
    })
</script>